:root{
    --color-brend:#4CAF4F;
    --color-h:#4D4D4D;
    --color-p:#717171;
    --color-bg:#F5F7FA;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Inter';
    background-color: #fff;
}

    
header{
    background-color: var(--color-bg);
    display: flex;
    padding: 22px 120px 22px 105px;
    align-items: center;
    justify-content: space-between;
}

.menu{
    display: flex;
    gap: 50px;
}

.menu a{
    display: flex;
    gap: 50px;
    text-decoration: none;
    color: #18191F;
}

.button{
    display: flex;
    gap: 14px;
}

.button .log_in a{
    text-decoration: none;
    color: #4CAF4F;
    padding: 10px 20px;
}

.button .sign_up a{
    background-color: #4CAF4F;
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 6px;
}


.container{
    display: flex;
    gap: px;
    margin: 96px 100px 40px 144px;
    align-items: center; 

}

.left_side{
    width: 670px;
}

.left_side h1{
    font-size: 64px;
    color: #4D4D4D;
    margin-bottom: 16px;
}

.green_h{
    color: #4CAF4F;
}

.left_side p{
    font-size: 16px;
    color: #717171;
    margin-bottom: 32px;
}

.left_side button{
    font-size: 16px;
    color: #F5F7FA;
    background-color: #4CAF4F;
    padding: 14px 32px;
    border: none;
    border-radius: 4px;
}


.our_clients{
    text-align: center;
    margin: 40px 144px;
}

.our_clients h2{
    color: #4D4D4D;
    font-size: 36px;
    padding-bottom: 8px;
}

.our_clients p{
    color: #717171;
    font-size: 16px;
    padding-bottom: 16px;
}

.our_clients_list{
    padding-top: 25px;
    padding-bottom: 25px;
    display: inline-flex;
    gap: 110px;
}


.manage_content{
    text-align: center;
    margin: 40px 144px;
}

.manage_content h2{
    color: #4D4D4D;
    font-size: 36px;
    padding-bottom: 8px;
}

.manage_content p{
    color: #717171;
    font-size: 16px;
    padding-bottom: 16px;
}

.manage_content_block{
    margin-top: 16px;
}

.manage_content_list{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.manage_content_list_item{
    position: relative;
    width: 300px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(171, 190, 209, 0.2);
    text-align: center;
}

.icon {
    position: absolute;
    top: -30px; 
    left: 50%;
    transform: translateX(-50%); 
    background-color: #E8F5E9;
    padding: 5px;
    border-top-left-radius: 10px; 
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 18px; 
    
}

body a{
    transition: 0.3s;
}

body a:hover{
    color: red;
    text-decoration: underline;

}

body button{
    transition: 0.3s;
}

.icon img {
    width: 50px; 
    height: 49px;
}

.content{
    margin-top: 16px;
}

.content h3{
    color: #4D4D4D;
    font-size: 28px;
    padding-bottom: 8px;
}

.content p{
    color: #717171;
    font-size: 14px;
}


.about{
    display: flex;
    align-items: center;
    margin: 94px 144px 48px 144px;
    justify-content: center;
    margin-bottom: 48px;
}

.about .left img{
    padding: 52px 2px;
}

.about .right{
    padding: 82px 0px 82px 0px;
    margin-left: 49px;
    width: 600px;
}

.about .right h2{
    color: #4D4D4D;
    font-size: 36px;
    padding-bottom: 16px;
}

.about .right p{
    color: #717171;
    font-size: 14px;
    padding-bottom: 32px;
}

.about .right button{
    font-size: 16px;
    color: #F5F7FA;
    background-color: #4CAF4F;
    padding: 14px 32px;
    border: none;
    border-radius: 4px;
}

.local_business{
    background-color: #F5F7FA;
    padding: 64px ;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 204px;
    margin-bottom: 46px;
}

.local_business .left{
    width: 412px;
}

.local_business .left h2{
    color: #4D4D4D;
    font-size: 36px;
    padding-bottom: 8px;
}

.local_business .left p{
    color: #717171;
    font-size: 16px;
    padding-bottom: 16px;
}

.local_business_block{
    display: inline-grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    grid-column-gap: 30px;
    grid-row-gap: 40px;
}

.local_business_card{
    display: flex;
    align-items: center;
}

.local_business_card_icon img{
    padding: 6px 16px 6px 0px;
}

.local_business_card_content h3{
    color: #4D4D4D;
    font-size: 28px;
}

.local_business_card_content p{
    color: #717171;
    font-size: 16px;
}


.calender{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 48px;
}

.calender .right{
    padding: 62px 0px 62px 0px;
    margin-left: 49px;
    width: 600px;
}

.calender .right h2{
    color: #4D4D4D;
    font-size: 36px;
    padding-bottom: 16px;
}

.calender .right p{
    color: #717171;
    font-size: 14px;
    padding-bottom: 32px;
}

.calender .right button{
    font-size: 16px;
    color: #F5F7FA;
    background-color: #4CAF4F;
    padding: 14px 32px;
    border: none;
    border-radius: 4px;
}


.customers{
    background-color: #F5F7FA;
    display: flex;
    justify-content: center;
    padding: 32px 144px;
    align-items: center;
    margin-bottom: 48px;
}
.customers .left{
    margin: 1px 78px 1px 0px;
}
.customers .right{
    width: 750px;
}
.customers .right p{
    font-size: 16px;
    color: #717171;
}
.customers .right h4{
    font-size: 20px;
    color: #4CAF4F;
    padding-bottom: 8px;
}
.person{
    margin: 16px 0px 32px 0px;
}
.person h4{
    font-size: 20px;
    color: #4CAF4F;
    padding-bottom: 8px;
}
.right .person p{
    font-size: 16px;
    color: #89939E;
}
.customers_list{
    display: flex;
    align-items: center;
}
.customers_list_item{
    display: flex;
    gap: 10px;
    margin-right: 32px;
}

.customers_list_item img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.all_customers{
    display: inline-flex;
    gap: 9px;
    transition: 0.3s;


}

 .all_customers a:hover{
    color: black;
    }

.all_customers a{
    text-decoration: none;
    color: #4CAF4F;
    font-size: 16px;
    font-weight: 100;
        transition: 0.3s;

}

.community{
    margin: 0px auto;
    text-align: center;
    width: 628px;
    margin-bottom: 95px;
}

.community h2{
    color: #4D4D4D;
    font-size: 36px;
    padding-bottom: 16px;
}

.community p{
    color: #717171;
    font-size: 16px;
    padding-bottom: 16px;
}

.community_list{
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
    gap: 24px;
}

.community_list_item{
    width: 368px;
    height: auto;
}

.community_list_item img{
    position: relative;
}

.community_list_item_info{
    width: 317px;
    background-color: var(--color-bg);
    padding: 16px;
    border-radius: 8px;
    top: -55px;
    left: 25px;
    z-index: 5;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.community_list_item_info h4{
    font-size: 20px;
    font-weight: 600;
    color: var(--color-p);
    margin-bottom: 16px;
}


.demo{
    width: 100%;
    padding: 32px 276.5px;
    text-align: center;
    background-color: var(--color-bg);
}

.demo h2{
    margin: 0 auto;
    width: 886px;
    font-size: 64px;
    color: #263238;
}

.demo a{
    display: inline-block;
    text-decoration: none;
    background-color: var(--color-brend);
    padding: 14px 32px;
    border-radius: 4px;
    color: #fff;
    margin-top: 32px;
}


footer{
    display: flex;
    gap: 265px;
    padding: 64px 165px;
    background-color:#263238;
    justify-content: center;
}
.company_information img{
    margin-bottom: 40px;
}

.company_information p{
    font-size: 14px;
    color: #fff;
    margin-bottom: 8px;
}

.company_information p:last-of-type{
    margin-bottom: 40px;
}

.social_media{
    display: flex;
    gap: 16px;
}

.list_service{
    display: flex;
    gap: 80px;
}

.company h4{
    color: #fff;
    font-size: 20px;
    margin-bottom: 24px;
}

.company li{
    list-style-type: none;
    color: #fff;
    font-size: 14px;
    margin-bottom: 12px;
}

.support h4{
    color: #fff;
    font-size: 20px;
    margin-bottom: 24px;
}

.support li{
    list-style-type: none;
    color: #fff;
    font-size: 14px;
    margin-bottom: 12px;
}

.stey_up h4{
    color: #ffffff;
    font-size: 20px;
    margin-bottom: 24px;
}

.stey_up input{
    background-color: black;
    font-size: 14px;
    border: none;
    border-radius: 8px;
    padding: 9px 117px 11px 12px;
    color: black;
    font-family: "Inter";
}

 /* Asilbek Shakarboyev imtihon  tayyor */ 